<%- layout('layouts/main.ejs')%>
<form action="/singup" method="post">
    <input type="email" name="email" placeholder="Email address" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">
        SingUp
    </button>

</form>

